{% extends "bootstrapframe.html" %}

{% block title %}
    Fakebook
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/fakebook/fakebookstyle.css">
{% endblock css %}


{% block content %}
    <h1>FAKEBOOK</h1>

    <p>Welcome to my Fakebook profile! </p>

    <div align="center">
        <img src="/static/img/fakebook/sari.png" alt="Sari Fink" style="width:168px;height:225px;margin:auto">
        <h2>Sari Fink</h2>
    </div>

    <div>
        <p><b>Random facts about me:</b></p>
        <ul>
            <li>I work as a software tester at <a href="http://www.compax.at">Compax</a> </li>
            <li>I'm learning web development at <a href="http://www.smartninja.at">Smartninja Austria</a> </li>
            <li>I originally come from Finland, but live now in Graz</li>
            <li>I have two sons, they are 4 and 7 years old</li>
            <li>I have visited 34 countries in my life</li>
            <li>We have two giant African snails as pets</li>
        </ul>
    </div>

    <div align="center">
        <img src="/static/img/fakebook/kids.jpg" width="25%" alt="Meine Kinder" style="margin-top:20px" float="left">
        <img src="/static/img/fakebook/schnecken.jpg" width="25%" alt="Unsere Schnecken" style="margin-top:20px" float="left">
    </div>

{% endblock content %}